body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #fff;
}

.app {
  max-width: 600px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 15px;
  background: #020617;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chatBox {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.msg {
  margin-bottom: 10px;
}

.user {
  color: #38bdf8;
}

.bot {
  color: #a3e635;
}

form {
  display: flex;
  padding: 10px;
  background: #020617;
}

input {
  flex: 1;
  margin-right: 5px;
  padding: 8px;
}

button {
  padding: 8px 15px;
}
